/* Jumbotron */
@media (max-width: 670px) {
  .tagline-jumbotron {
    color: white;
    margin: 0px;
  }
  .tagline-jumbotron h1 {
    font-weight: 700;
  }
  .tagline-jumbotron p {
    font-weight: 400;
  }
}
/* End Jumbotron */

/*Detail Desc */
@media (max-width: 670px) {
  .psc-tagline {
    margin-left: 0px;
    margin-bottom: 50px;
  }
  .ask-tagline a {
    margin-left: 150px;
  }
}
/* End Detail Desc */

/* Footer */
@media (max-width: 670px) {
  .img-icons {
    margin-top: 10px;
  }
  .footer-tagline li {
    margin-left: 30px;
  }
  .footer-tagline .span {
    margin-left: 60px;
  }
}
/* End Footer */

/* Products */
/* Coffe */
@media (max-width: 670px) {
  .cf-tagline {
    margin-left: 100px;
  }
  .cf-desc {
    margin-left: 80px;
  }
}
/* End Coffe */
/* End Products */
