@media all and (max-width: 1000px) {
  .kh-row p {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .section-title {
    font-weight: 400px;
    font-size: 24px;
    margin-bottom: 25px;
  }
  .kh-row p {
    font-size: 8px;
  }
  input,
  textarea {
    padding: 0 7px;
    font-size: 18px;
  }
  button {
    padding: 1px 10px;
    margin: 7px 0;
    font-weight: 50;
    line-height: 15px;
    font-size: 10px;
  }
}
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 55px;
  }

  .heading h2 {
    font-size: 32px;
  }
  .lina .btn {
    width: 400px;
  }
  .btn-wrapper {
    font-size: 20px;
    width: 40%;
  }
}
@media (max-width: 670px) {
  .lina-container {
    width: 80%;
  }
  .lina-container h1 {
    width: 80%;
  }
  .lina-container h2 {
    width: 80%;
  }
  .lina-container .btn-wrapper {
    width: 80%;
  }
  .lina-container .btn-wrapper {
    font-size: 12px;
  }
  .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: left;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
